.center {
    background: white;
    border-radius: 10px;
    h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom:  1px solid silver;
    }
    form {
        padding: 0 40px;
        box-sizing: border-box;
    }
    .form-group {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
        input {
            width: 100%;
            padding: 0 5px;
            height: 40px;
            font-size: 16px;
            border: none;
            background: none;
            outline: none;
            border-radius: 0;
        }
        label {
            position: absolute;
            top: 50%;
            left: 5px;
            color: #adadaa;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: .5s;
        }
        span::before {
            content: '';
            position: absolute;
            top: 40px;
            left: 0;
            width: 0%;
            height: 2px;
            background: #2691d9;
            transition: .5s;
        }
        input:focus ~ label,
        input:valid ~ label {
            top: -5px;
            color: #2691d9;
        }
        input:focus ~ span::before,
        input:valid ~ span::before {
            width: 100%;
        }
    }
    .btn-primary {
        height: 50px;
        border: 1px solid white;
        background: #2691d9;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    .form-control:focus {
        box-shadow: none !important;
    }
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666;
    &--button {
        color: #2691d9;
        text-decoration: none;
        cursor: pointer;
        margin-left: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}