<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <app-button 
                [text]="'Primary'"
                [btnClass]="'btn-primary'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Secondary'"
                [btnClass]="'btn-secondary'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Success'"
                [btnClass]="'btn-success'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Danger'"
                [btnClass]="'btn-danger'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Warning'"
                [btnClass]="'btn-warning'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Info'"
                [btnClass]="'btn-info'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Dark'"
                [btnClass]="'btn-dark'"
                (OnClick)="addUser($event)">
            </app-button>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <app-button 
                [text]="'Primary'"
                [btnClass]="'btn-outline-primary'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Secondary'"
                [btnClass]="'btn-outline-secondary'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Success'"
                [btnClass]="'btn-outline-success'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Primary'"
                [btnClass]="'btn-outline-primary'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Danger'"
                [btnClass]="'btn-outline-danger'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Warning'"
                [btnClass]="'btn-outline-warning'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Info'"
                [btnClass]="'btn-outline-info'"
                (OnClick)="addUser($event)">
            </app-button>
            <app-button 
                [text]="'Dark'"
                [btnClass]="'btn-outline-dark'"
                (OnClick)="addUser($event)">
            </app-button>
        </div>
    </div>
</div>