<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img [src]="product.imageUrl" class="card-img-top" [alt]="product.name">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <div class="card-text">
                    <div class="btn-group">
                        <button 
                            appDropdown
                            type="button"
                            class="btn btn-primary dropdown-toggle"
                            >Manage Product<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="addShoppingList()">Shopping List</a></li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onEditProduct()">Edit Product</a></li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteProduct()">Delete Product</a></li>
                        </ul>
                    </div>
                </div>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let accessory of product.accessories">
                      {{accessory.name}} - {{accessory.amount}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>