<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">UIKIT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/home">{{'HEADER.Home' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/auth">Authentication</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/products">{{'HEADER.Products' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right ml-auto align-items-center">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isAuthenticated">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{'HEADER.Components' | translate}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/pages/card">Card</a></li>
            <li><a class="dropdown-item" routerLink="/pages/accordion">Accordion</a></li>
            <li><a class="dropdown-item" routerLink="/pages/accordion-simple">Accordion Simple</a></li>
            <li><a class="dropdown-item" routerLink="/pages/tab">Tab</a></li>
            <li><a class="dropdown-item" routerLink="/pages/button">Button</a></li>
            <li><a class="dropdown-item" routerLink="/pages/table">Table</a></li>
            <li><a class="dropdown-item" routerLink="/pages/readmore">Read More</a></li>
            <li><a class="dropdown-item" routerLink="/pages/loading">Loading</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="saveData()">Save Data</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="fetchData()">Fetch Data</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <div class="lang">
              <button
                class="btn"
                #langSelect *ngFor="let lang of translate.getLangs()"
                (click)="translate.use(langSelect.value)"
                [value]="lang" [class.active]="lang === translate.currentLang">
                {{ lang }}
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>